<!DOCTYPE html>
<html>

<head>
    <script src="/docs/5.3/assets/js/color-modes.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <title>Iniciar Sesión</title>
</head>

<body>

    <div class="container">
        <h1 class="h3 mb-3 fw-normal text-center">Calcular precio</h1>
        <form id="contact-form" action="">

            <div class="form-floating mt-5">
                <input type="text" class="form-control" id="producto" name="producto" placeholder="Juan">
                <label for="floatingInput">Producto</label>
            </div>
            <div class="form-floating mt-5">
                <input type="text" class="form-control" id="precio" name="precio" placeholder="Juarez">
                <label for="floatingInput">Precio</label>
            </div>
            <button class="mt-5" type="button" id="submit-btn">Calcular IVA</button>
            <div class="form-floating mt-5">
                <input type="text" class="form-control" id="resultado" name="resultado" placeholder="Juarez" disabled>
                <label for="floatingInput">Resultado</label>
            </div>
        </form>
        <script src="{{ url_for('static', path='script.js') }}"></script>
    </div>

</body>

</html>